.countryPickerContainer {
    width: 55rem;
    margin-left: 22rem;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem
}

@media (max-width: 415px) {
    .countryPickerContainer {
margin-left: 1vh;
    }
  }